.mainContainer {
  width: 100%;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/veticalImage.jpeg');
}
.formContainer {
  background-color: white;
  width: 90vw;
  height: 90vh;
  border-radius: 1rem;
  box-shadow: 6px 6px rgba(0, 0, 0, 0.2);
}
